Flask==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1
SQLAlchemy==2.0.43
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
requests==2.32.4
Werkzeug==3.1.3
gunicorn
mysqlclient==2.2.4


